{% extends "layout.html" %}

{% block title %} Events {% endblock %}

{% block main %}

  <div class="container-order">
  <img src="/static/images/top.jpg" alt="Notebook" style="width:100%;-webkit-filter: brightness(80%);filter:brightness(80%);">
  <div class="content">
    <h1>Namaste {{ session["name"] }} ! Engage with us for volunteering  </h1>
    <p>You can join us for regular events.</p>
  </div>
</div>
<br><br>

<b style="color:green;font-size:25px;">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;Upcoming Events </b> <a href="#" class="badge badge-warning">Check Out</a>
<br><br>

<div class="card" style="text-align:left;width:85%;margin: 0 auto;postion:relative; ">
  <h1 class="card-header">Mumbai Green Initiative</h1>
  <div class="card-body">
    <h5 class="card-title">With all-day plans to plant trees in Marine Drive region along with cleaning specific areas.</h5>
    <p class="card-text">Address: 51, Dr Cawasji Hormusji St, Dhobi Talao, Sonapur, Marine Lines, Mumbai, Maharashtra 400002, India<br>
    Date: 25 October 2020</p>

  </div>
</div>
<br>
<div class="card" style="text-align:left;width:85%;margin: 0 auto;postion:relative;">
  <h1 class="card-header">"Say No To Crackers" Campaign</h1>
  <div class="card-body">
    <h5 class="card-title">With Diwali Festival incoming, we are organizing campaign to bring attention towards the pollution issues due to Diwali crackers.</h5>
    <p class="card-text">Address: B K Boman Behram Marg, Apollo Bandar, Colaba, Mumbai, Maharashtra 400001, India<br>
    Date: 15 November 2020
  </div>
</div>
<br>

<div class="card" style="text-align:left;width:85%;margin: 0 auto;postion:relative;">
  <h1 class="card-header">Juhu Beach Cleaning Weekend</h1>
  <div class="card-body">
    <h5 class="card-title">As a part of weekend practices of cleaning activities, our organization invites volunteers to participate in beach cleaning activities.</h5>
    <p class="card-text">Address: Juhu Rd, JVPD Scheme, Juhu, Mumbai, Maharashtra 400047, India<br>
    Date: 2 November 2020</p>

  </div>
</div>
<br>
<br>
<b style="color:green;font-size:25px;">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;Past Events </b> <a href="#" class="badge badge-warning">Check Out</a>
<br><br>

<div class="card" style="text-align:left;width:85%;margin: 0 auto;postion:relative; ">
  <h1 class="card-header">'No Smoking' Campaign</h1>
  <div class="card-body">
    <h5 class="card-title">With increasing deaths due to smoking in India, generating awareness was our prime respnisibilty.</h5>
    <p class="card-text">Address: 51, Dr Cawasji Hormusji St, Dhobi Talao, Sonapur, Marine Lines, Mumbai, Maharashtra 400002, India<br>
    Date: 18 October 2020</p>

  </div>
</div>
<br>
<div class="card" style="text-align:left;width:85%;margin: 0 auto;postion:relative;">
  <h1 class="card-header">Cleaning Schools in Dombivli region</h1>
  <div class="card-body">
    <h5 class="card-title">With special attention brought towards youth deveopment, we organized cleaning programme in school educating students about hygiene and their responsibilty towards a better India.</h5>
    <p class="card-text">Address: B K Boman Behram Marg, Apollo Bandar, Colaba, Mumbai, Maharashtra 400001, India<br>
    Date: 12 October 2020
  </div>
</div>
<br>

<div class="card" style="text-align:left;width:85%;margin: 0 auto;postion:relative;">
  <h1 class="card-header">Eco- Green Carnival</h1>
  <div class="card-body">
    <h5 class="card-title">Clean-G set upstalls in many malls of Mumbai and Bangalore region to sell up eco-friendly prosucts at lower costs.  </h5>
    <p class="card-text">Address: Juhu Rd, JVPD Scheme, Juhu, Mumbai, Maharashtra 400047, India<br>
    Date: 6 August 2020</p>

  </div>
</div>
<br>
{% endblock %}