{% extends "layout.html" %}

{% block title %} Services {% endblock %}

{% block main %}

 <div class="container-order">
  <img src="/static/images/top.jpg" alt="Notebook" style="width:100%;-webkit-filter: brightness(80%);filter:brightness(80%);">
  <div class="content">
    <h1>Our Vision & Mission  </h1>
  </div>
</div>
<br>
<b style="color:green;font-size:25px;">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;About Us </b>
<hr>
<br><br>
<p style="text-align:center;"><b style="color:green;font-size:18px;">• Our Motto •</b><br><br>
<b style="font-size:20px;">SERVICE BEFORE SELF</b><br>
CLEAN-G's motto is based on the noble principle of altruism, i.e.,<br>
a way of thinking or behaving that shows you care about other people and their interests more<br>
than you care about yourself. The motto seeks to inspire the youth and nation to rise above <br>
self-interest and prepare themselves to serve society.  They ought to pursue personal fulfillment<br>
in the well-being of all human beings.
</p>

<br><br>
<p style="text-align:center;"><b style="color:green;font-size:18px;">• Our Team & Founders•</b><br><br>
<div class="row-r" id="services">
  <div class="column-r">
    <div class="card-r">
      <i class="far fa-user-circle fa-7x"></i>
      <div class="card-body">
            <p class="card-text"><b style="color:green;">Pawan Kishor Patil<br>CEO</b><br><br>
            As founder of Clean-G, Pawan launched a global hygiene revolution. As CEO, he is a business leader who advances
            humanitarian causes through social entrepreneurism. With his ideas, he aims to bring cleanliness as a prime responsibilty of every citizen.

            </p>
      </div>

    </div>
  </div>

  <div class="column-r">
    <div class="card-r">
        <i class="far fa-user-circle fa-7x"></i>
      <div class="card-body">
            <p class="card-text"><b style="color:green;">Mr. X<br>Manging Director</b><br><br>
            As Managing Director of Clean-G, X has played a major role in expanding this organizing to many cities of India.
            With his ideas of management, we have brought cleanliness as source of money. He aims to bring this organization to the top of the industry.
      </div>
    </div>
  </div>

  <div class="column-r">
    <div class="card-r">

     <i class="far fa-user-circle fa-7x"></i>
      <div class="card-body">
            <p class="card-text"><b style="color:green;">Mr. Y<br>Council Member</b><br><br>
            As Council Member of Clean-G, Y has been very supportive with spreading the message of cleanliness and hygiene throughtout the
            public and aims to host many campaigns with people's participation. He zims to involve government participation in our organization.
      </div>
    </div>
  </div>


</div>
<br><br>
<br>

<div class="container-v">
  <img src="/static/images/vision.png" alt="Snow" style="width:70%; margin-right:0;margin-left: auto;display:block;">

  <div class="top-left">
      <p style="color:black;font-size:4vw;">Explore Our Services!</p>
      <a href="/services#services" class="gradient-button gradient-button-3 long">Check Out →</a></p></div>

</div>


</p>


{% endblock %}